@font-face {
	font-family: "Imagine";
	src: url("/static/imagine.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lexend", sans-serif;
	font-weight: inherit;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.imagine-font {
	font-family: "Imagine", sans-serif;
}

.lexend-font {
	font-family: "Lexend", sans-serif;
}
